*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin: 2px;
}
p{
    margin: 5px;
    padding: 3px;
    text-align: center;
}
h2{
    text-align: center;
    margin: 10px;
}
#header{

    border-style: groove 1px, solid, blue;
}